.mainServices {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: burlywood;
    margin-bottom: 6em;
}

.servicesHeading>h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #b98424;
    margin: 1em 0 1em 0;
}

.servicesCardRow1 {
    display: flex;
    flex-wrap: nowrap;
}

.servicesCardRow1>div {
    border-radius: 5px;
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    height: 200px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.servicesTextLink {
    width: 30%;
}

.img {
    width: 300px;
    height: 200px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

@media only screen and (max-width: 1100px) {
    .servicesCardRow1 {
        flex-wrap: wrap;
    }
}