.mainServices {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-bottom: 6em;
}
.servicesHeading{
width: 180px;
height: 100px;
position: relative;
margin: 0 auto ;
}
.servicesHeading>h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2.2px;
    color: #b98424;
    margin: 1em 0 0.1em 0;
}

.servicesCardRow1 {
    display: flex;
    flex-wrap: nowrap;
}

.servicesCardRow1>div {
    border-radius: 5px;
    background-color: #b98424;
    display: flex;
    width: 430px;
    height: 200px;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.servicesTextLink {
    width: 30%;
}

.linktext {
    padding: 1.4px;
    font-size: 1.275rem;
    font-weight: 500;
    color: white;
    display: inline-block;
    transition: all .3s ease;
    line-height: 2.2rem;
    /* white-space: nowrap; */
    overflow: hidden;
    /* position: relative; */
}

.linktext:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.img {
    width: 300px;
    height: 200px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.servicesCardRow2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.servicesCardRow2>div {
    border-radius: 5px;
    background-color: #b98424;
    display: flex;
    width: 430px;
    height: 320px;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.imgRow2 {
    width: 305px;
    height: 320px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

@media only screen and (max-width: 1100px) {
    .servicesCardRow1 {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .servicesCardRow2 {
        flex-wrap: wrap;
    }
}