.linkText {
  text-decoration: none !important;
  font-size: 15px;
  line-height: 30px;
}
.Heading {
  color: white;
  font-weight: 600;
}
.line {
  border: none;
  height: 1px;
  color: white; /* old IE */
  background-color: white;
}
.text_contactus {
  display: flex !important;
  align-items: center !important;
}
.text_contactus > .MuiSvgIcon-root {
  padding: 5px;
  font-size: 27px !important;
}
.footerCopyright {
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  height: 60px;
  background:linear-gradient(to left,#b98424,#493826);
}
.space {
  width: 10%;
}
.textFooterCopyright{
  font-size: 15px;
  font-weight: 600;
}
.textFooterCopyrightdiv{
  align-self: center;
  width: 70%;
}
.socialIcon {
  align-self: center;
  width: 20%;
}

@media screen and (max-width: 1200px){
  .footerMap{
    width:250px;
    height: 170px;
  }
}
@media screen and (max-width: 560px){
  .footerMap{
    width:460px;
    height: 170px;
  }
}
@media screen and (max-width: 500px){
  .footerMap{
    width:200px;
    height: 170px;
  }
}