.product {
  display: flex;
  height: auto;
  flex-direction: column;
}

.product>h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #b98424;
  margin: 1em 0 1em 0;
}

.ProductImagesGrid {
  position: relative;
}

.Product_image {
  /* transition: .5s ease; */
  width: 98%;
  height: 90%;
}

.Product_image:hover {
  /* opacity: 0.1; */
}

.productButton {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #b98424, #493826);
}

.btn {
  border: 1px solid;
  cursor: pointer;
  position: relative;
  padding: 7px 20px;
  background: transparent;
  font-size: 18px;
  transition: all 1s;
  font-weight: normal;
  display: inline-block;
  letter-spacing: 1;
  color: white;
}

.btn:hover {
  border: none;
  color: black;
  background-color: #b98424;
}

.arrowIcon {
  padding-top: 9px;
  height: 22px !important;
}